# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# PyCharm
.idea/


# VSCode
.history
.vscode

# Atom / PlatformIO
.pio
.clang_complete
.gcc-flags.json
lib/readme.txt
include/readme.txt
platformio.ini


examples/debug_print/
doxygen/doxygenOutput.log
Doxyfile-mcss
examples/debugging_prints/*
doxygen/mcss-theme.css
doxygen/mcss-theme-compiled.css
doxygen/__pycache__/conf.cpython-37.pyc
doxygen/conf.py
SDI12 Repo Token.txt
