# Compiled files, executables
*.o
*.a
*.exe
*.out
*.app

# Junk
*.orig
*.log
*.bak

# IDE project files
.settings
.pioenvs
.piolibdeps
.pio/*
.clang_complete
.gcc-flags.json
platformio.ini
extra_envs.ini
lib/readme.txt
include/readme.txt
.history

# VSCode
.vscode

# Filters
.gitconfig
filters/*

# Certificates
*.cert
*.crt
*.pem
*.key

# PlatformIO
pioScripts/*
variants/*
boards/*
tests/*
lib/*
platformio_extra_envs.ini
pio_common_libdeps.ini

# Arduino CLI
continuous_integration/arduino_cli_local.yaml

# Local CI and Build Artifacts
home/arduino/*
continuous_integration_artifacts/*
clang_format_all.bat
generateKeywords.bat
installWorkingDependencies.bat
clang-format-all.py
runDoxygen.bat
compile_commands.json
buildCI.bat

# Other stuff
pioScripts
docs/Doxyfile.bak
SDI12 Repo Token.txt
*.tar.gz
archive/*
src/wakeUp.h
**/__pycache__/**
AGENTS.md
.github/copilot-instructions.md
.bumpversion.toml
.clang-tidy
.markdownlint-cli2.yaml
.github/workflows/LibraryBuild.yml
datasheets/*
Datasheets.md
docs/DoxygenLayout.xml_archive
/pio_common_libdeps.ini
src/SDI12_prints.print
test/test_embedded/test_crc.hpp
test/test_embedded/test_dtoa.hpp
test/test_embedded/test_mbed_main.cpp
test/test_snippet/test_snippet.cpp
